:css
  .pagination{padding:.3em;margin:.3em; font: 13.34px helvetica,arial,freesans,clean,sans-serif;}
  .pagination a{padding:.1em .3em;margin:.2em;border:0;text-decoration:none;color:#369;}
  .pagination a:hover,.pagination a:active{border:0;color:#000;}
  .pagination span.current{padding:.1em .3em;margin:.2em;border:0;font-weight:bold;background-color:#369;color:#FFF;}
  .pagination span.disabled{padding:.1em .3em;margin:.2em;border:0;color:#ddd;}
= paginator.render do
  .pagination<
    = next_page_tag
    = prev_page_tag
